{% extends 'base.html' %}
{% block headtitle %}Add New Note - {% endblock %}

{% block breadcrumbs %} &rarr; Add New Note{% endblock %}

{% block content %}

    {# <form action="" method="post"> #}
    {#     {% csrf_token %} #}
    {#     {{ form.as_p }}     #}
    {#     <p><input type="submit" value="Continue &rarr;" /></p> #}
    {# </form> #}
    
    {# Customized form template: https://docs.djangoproject.com/en/dev/topics/forms/#customizing-the-form-template #}
    <form action="" method="post">
        {% csrf_token %}
        <p><input class="btn" type="submit" value="Add Note" /> or <a class="warning" href="{% firstof request.META.HTTP_REFERER url notes_detail note.id %}">cancel</a></p>
            {# Reusable form templates: https://docs.djangoproject.com/en/dev/topics/forms/#reusable-form-templates #}
            {% include "includes/note_form.html" %}
        <p class="clearboth"><input class="btn" type="submit" value="Add Note" /> or <a class="warning" href="{% firstof request.META.HTTP_REFERER url notes_detail note.id %}">cancel</a></p>
    </form>
{% endblock %}

