{% extends 'base.html' %}
{% block headtitle %}{{ note.title }} - {% endblock %}

{% block bodyid %} id="detail"{% endblock %}

{% block breadcrumbs %} &rarr; {{ note.title }}{% endblock %}

{% block content %}
        <h1 class="first">{{ note.title }}</h1>
        <p class="small">By {{ user.first_name }} {{ user.last_name }} on {{ note.created|date:"l, d F Y" }} at {{ note.modified|date:"H:m" }}.</p>
        {% if user.is_authenticated %} 
            <p class="editing"><a class="edit" href="{% url notes_update note.id %}">Edit</a> or <a class="warning" href="{% url notes_delete note.id %}">delete</a> this note.</p>
        {% endif %}
        {{ note.content_html|safe }}
        {% if user.is_authenticated %} 
            <p class="floatright quiet"><a class="edit" href="{% url notes_update note.id %}">Edit</a> or <a class="warning" href="{% url notes_delete note.id %}">delete</a> this note.</p>
        {% endif %}
{% endblock %}

{% block footer %}
    Note last modified: {{ note.modified|date:"d F Y, H:m" }}<br />
{% endblock %}