{% extends 'base.html' %}

{% block content %}
    {% if note_list %}
    {% for note in note_list %}
        {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#ifchanged #}
        {% ifchanged %}
            <h2 class="dateline">{{ note.modified|date:"d F Y" }}</h3>
        {% endifchanged %}
        <dl>
            <dt>

                <strong><a href="{% url notes_detail note.id %}">{{ note.title }}</a></strong> <span class="small quiet">- Last edited {{note.modified|timesince}} ago by {{ user.first_name }} {{ user.last_name }}</span>
                {% if user.is_authenticated %} 
                    <span class="small"> <a href="{% url notes_update note.id %}">edit</a> <a href="{% url notes_delete note.id %}">delete</a></span>
                {% endif %}
        
            </dt>
            <dd>{{ note.content_html|truncatewords_html:10|safe }}</dd>
        </dl>
    {% endfor %}

    {% else %}
        You don't have any notes.
    {% endif %}
    
{% endblock %}

{% block sidebar %}
    <h4>Last Updated Note:</h4>
    {# http://www.djangrrl.com/post/custom-template-tags-in-django/ #}
    {% load tags %}
    {% latestnote %}
{% endblock %}