{% extends 'base.html' %}

{% block content %}
    {% if note_list %}
    <ul>
    {% for note in note_list %}
        <li><a href="{% url notes_detail note.id %}">{{ note.title }}</a> <small>last edited {{note.modified|timesince}} ago</small></li>
    {% endfor %}
    </ul>
    {% else %}
        You don't have any notes.
    {% endif %}
    
    {# http://www.djangrrl.com/post/custom-template-tags-in-django/ #}
    <h4>Last Updated Note:</h4>
    {% load tags %}
    {% latestnote %}
       
    
    {# <p>Template Tag Example: Last Updated Note:</p> #}
    {# <ul> #}
    {#     {% load tags %} #}
    {#     {% last_updated_note %}     #}
    {# </ul> #}
    
    
{% endblock %}