{% extends 'base.html' %}
{% block bodyid %}home{% endblock %}
{% block content %}
    {% if latest %} {# the 'latest' variable of the template context is assigned automatically by the django.views.generic.date_based.archive_index generic view - https://docs.djangoproject.com/en/dev/ref/generic-views/#django-views-generic-date-based-archive-index #}
    {% for note in latest %}
        {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#ifchanged #}
        {% ifchanged %}
            {# <hr /> #}
            {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#date #}
            <h2 class="dateline">{{ note.created|date:"l, d F Y" }}</h2>
        {% endifchanged %}

                <p>
                    <strong><a href="{% url notes_detail note.id %}">{{ note.title }}</a></strong>
                    {% if user.is_authenticated %} 
                    <span class="small normal quiet"> · last edited {{ note.modified|timesince }} ago by {{ user.first_name }} {{ user.last_name }}</span>
                        <span class="small normal"> <a class="edit" href="{% url notes_update note.id %}">edit</a> <a class="warning" href="{% url notes_delete note.id %}">delete</a></span>
                    {% endif %}
                </p>
            {{ note.content_html|safe }}
    {% endfor %}

    {% else %}
        You don't have any notes.
    {% endif %}
    
{% endblock %}

{% block sidebar %}
{% endblock %}


{# TODO: if note category is 'article', post article format, otherwise post the link format #}
{# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#ifequal #}

{# {% ifequal note.category "article" %} #}
{#     <pre class="articlebreak"> #}
{#          __|__ #}
{#     -------O------- #}
{#         o´   `o #}
{#     </pre> #}
{#      #}
{#     <div class="article"> #}
{#  #}
{#         <h1><a href="{% url notes_detail note.id %}">{{ note.title }}</a> #}
{#             {% if user.is_authenticated %}  #}
{#                 <span class="small normal quiet">- Last edited {{ note.modified|timesince }} ago by {{ user.first_name }} {{ user.last_name }}</span> #}
{#                 <span class="small normal"> <a class="edit" href="{% url notes_update note.id %}">edit</a> <a class="warning" href="{% url notes_delete note.id %}">delete</a></span> #}
{#             {% endif %} #}
{#         </h1> #}
{#         <h2 class="dateline">{{ note.created|date:"A, d F Y" }}</h2> #}
{#         {{ note.content_html|safe }} #}
{#     </div> #}
{#      #}
{#     <pre class="articlebreak"> #}
{#          __|__ #}
{#     -------O------- #}
{#         o´   `o #}
{#     </pre> #}
{#  #}
{# {% else %} #}
{#  #}
{#     {% ifchanged %} #}
{#         <hr /> #}
{#         <h2 class="dateline">{{ note.created|date:"A, d F Y" }}</h2> #}
{#     {% endifchanged %} #}
{#  #}
{#     <dl> #}
{#     <dt><txp:if_custom_field name="link"><a href="<txp:custom_field name="link" />"><txp:title /></a><txp:else /><txp:title /></txp:if_custom_field> &nbsp;<a class="plink" title="Permanent link to <txp:title />" href="<txp:permlink />">#</a></dt> #}
{#     <dd> #}
{#     <txp:body /> #}
{#     </dd> #}
{#     </dl> #}
{# {% endifequal %} #}