{% extends 'base.html' %}
{% block headtitle %}Editing &lsquo;{{ note.title }}&rsquo; - {% endblock %}

{% block breadcrumbs %} &rarr; <strong>Editing:</strong> &lsquo;{{ note.title }}&rsquo;{% endblock %}

{% block content %}

    {# <form action="" method="post"> #}
    {#     {% csrf_token %} #}
    {#     {{ form.as_p }}     #}
    {#     <p><input type="submit" value="Continue &rarr;" /></p> #}
    {# </form> #}
    
    <form action="" method="post">
        {% csrf_token %}

        <p><input type="submit" value="Save &rarr;" /> or <a href="{% firstof request.META.HTTP_REFERER url notes_detail note.id %}">cancel</a></p>

        {# Reusable form templates: https://docs.djangoproject.com/en/dev/topics/forms/#reusable-form-templates #}
        {% include "includes/note_form.html" %}
  
        <p><input type="submit" value="Save &rarr;" /> or <a href="{% firstof request.META.HTTP_REFERER url notes_detail note.id %}">cancel</a></p>
        
        <p class="floatright"><a class="warning" href="{% url notes_delete note.id %}">delete this note</a></p>
    </form>
{% endblock %}