# To install all these run the following from terminal: pip install -r REQUIREMENTS.txt
Django==1.3.1
# wsgiref==0.1.2
# MySQL-python (ERRORS DEPLOYING IN JOYENT SHARED)
# flup
# psycopg2
Markdown
Pygments==1.4
# ElementTree (included in python 2.5+?)
PIL
# Fabric (won't successfully install in shared accelerator?)

# django-registration 0.8:
# hg+https://bitbucket.org/ubernostrum/django-registration#egg=django-registation
# django-profiles

# docutils
# sorl-thumbnail
South