<!DOCTYPE HTML>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,user-scalable=yes">

    <title>{% block headtitle %}{% endblock %}Webnotes</title>

    {# <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css"> #}
    {#     <link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css"> #}
    {#     <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css"> #}

    <!-- http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/ -->
    <!-- http://www.fontsquirrel.com/fontface/generator -->
    {# <link rel="stylesheet" href="/static/fonts/stylesheet.css" type="text/css" media="screen" title="default" charset="utf-8" /> #}
    
    <link rel="stylesheet" href="/static/css/notes.css" type="text/css" media="screen" title="default" charset="utf-8" />
    <link rel="stylesheet" href="/static/css/code.css" type="text/css" media="screen" title="default" charset="utf-8" />
    
    {% block extrahead %}{% endblock %}
</head>

<body id="{% block bodyid %}{% endblock %}">

    <div id="header">
        <p class="breadcrumbs">
            <strong><a class="logo" title="Homepage." href="{% url notes_list %}">Webnotes</a></strong> {% block breadcrumbs %}{% endblock %}
        </p>

        <div id="nav">
            {% block nav %}
            {% if user.is_authenticated %}
                <p>
                    Hello, {{ user.first_name }} {{ user.last_name }}! <a href="{% url django.contrib.auth.views.logout %}?next={% firstof request.path '/notes/' %}">Log out</a> or <strong><a class="edit" href="{% url notes_create %}">add a note</a></strong>
                </p>
            {% else %}
                {# http://stackoverflow.com/a/1711592/412329 #}
                {# Alternative redirect technique?: http://stackoverflow.com/a/476720/412329 #}
                <p><a class="edit" href="{% url django.contrib.auth.views.login %}?next={% firstof request.path '/notes/' %}">Log in</a></p>
            {% endif %}
            {% endblock %}
            {% block navsearch %}
                            {% include "includes/search_form.html" %}
            {% endblock %}
        </div> {# / #nav #}
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div> {# / #content #}
    
    <div id="sidebar">
        {% block sidebar %}{% endblock %}
    </div> {# / #sidebar #}
    
    <div id="footer">
        <p>
        {% block footer %}
        {% include "includes/search_form.html" %}

        Django version: {{ django_version }}
        {# {% load tags %} #}
        {# {% get_current_time "%Y-%m-%d %I:%M %p" as the_time %} #}
        {# <p>The time is {{ the_time }}.</p> #}        
        {% endblock %}

        </p>
    </div> {# / #footer #}
    {% block extrafoot %}{% endblock %}
</body>
</html>